@import "./Variables";

.all-birds {
  display: block;
}

.scroller {
  overflow: auto;
  max-height: 100vh;
}

.category-menu {
  background-color: $secondary-color;
  color: $primary-color;
  padding-right: 20px;
  position: sticky;
  top: 0;
  margin-top: 10px;

  ::first-letter {
    text-transform: uppercase;
  }

  li {
    padding-top: 10px;
  }

  .filters {
    margin: 10px 40px;

    form {
      display: flex;
      flex-wrap: wrap;
    }

    .label-and-checkbox {
      display: flex;
      align-items: center;
    }

    label {
      margin-right: 10px;
      font-weight: 800;
    }

    .regular-checkbox {
      -webkit-appearance: none;
      border: 1px solid $primary-color;
      padding: 9px;
      border-radius: 3px;
      z-index: 10;
    }

    .regular-checkbox ~ .check {
      display: none;
    }

    .regular-checkbox:checked ~ .check {
      display: block;
    }

    svg {
      color: $primary-color;
      margin-left: -21px;
      z-index: 0;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      margin-right: 9px;
      width: 27px;
    }
  }

  .category-content-container {
    overflow: hidden;
  }

  .category-content.inactive {
    margin-top: -52vh;
    height: 50vh;
    transition: all 500ms ease;
  }

  .category-content.active {
    margin-top: 20px;
    height: 100vh;
    transition: all 500ms ease;
    overflow: auto;
  }
}

.category-menu-header {
  padding-left: 40px;
  display: flex;
  align-items: center;

  svg {
    margin-left: 10px;
  }
}

.bird-table {
  color: $secondary-color;
  background-color: rgba(254, 255, 240, 0.8);
  box-shadow: -1px 1px 10px 1px rgba(0, 56, 56, 0.5);
  margin: 20px;
  padding: 10px 20px 20px 20px;  }

