html{
  background-color: honeydew;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

h1 {
  text-transform: uppercase;
  font-size: 46pt;
}

button {
  margin: 20px 10px;
}

.birdName {
  text-transform: capitalize;
}

.birdEntry {
  border: solid 20px darkblue;
  width: 500px;
  margin: 30px auto;
}

.label {
  font-weight: 200;
  margin: 10px 0 0 0;
}
