@import "./Variables";

.bird-details {
  background-color: $secondary-color;
  padding: 25px 30px 0px;
  color: $primary-color;
}

.bird-details-header {
  display: flex;
  justify-content: space-between;

  .scientific {
    margin: 0;
  }
}

.map-container {
  overflow: hidden;
  margin-top: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.toggle-details {
  height: auto;
}

.sightings-list h1 {
  color: $primary-color;
  background-color: $secondary-color;
  padding: 10px 30px;
}


.no-sightings-message {
  background-color: $contrast-color;
  color: $primary-color;
  width: max-content;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
}

.new-sighting-link p {
  font-weight: 800;
  margin-top: 10px;
}


// landscape tablet up
@media (min-width: 900px) {

  .full-bird-listing {
    margin: 0 50px;
  }

.sightings-list h1 {
  margin-bottom: 20px;
  padding: 10px 50px;
}

.bird-details {
  padding: 25px 50px 0px;
}
}
