@import "./Variables";

.bird-details {
  background-color: $secondary-color;
  padding: 25px 50px 0px;
  color: $primary-color;
}

.bird-details-header {
  display: flex;
  justify-content: space-between;

  .scientific {
    margin: 0;
  }
}

.map-container {
  overflow: hidden;
  margin-top: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.toggle-details {
  height: auto;
}

// .sightings-list {
//   margin-top: 20px;
//   color: $primary-color;
//   background-color: $secondary-color;

//   h2 {
//     background-color: $secondary-color;
//     padding: 20px 30px;
//   }

//   .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
// }



.no-sightings-message {
  background-color: $contrast-color;
  color: $primary-color;
  width: max-content;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
}

.new-sighting-link p {
  font-weight: 800;
  margin-top: 10px;
}
