@import "./Variables.scss";

.card {
  background-color: $secondary-color;
  color: $primary-color;

  .link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sighting-link {
    cursor: pointer;
  }
}
