.family-name {
    padding-top: 62px
}

.family-name::first-letter {
        text-transform: uppercase;
    
}

.bird-entry {
    display: flex;

    .bird-details {
        display: flex;
    }

    .scientific {
        padding-top:5px;
        padding-left: 20px;
    }
}