.family-name {
    text-transform: capitalize;
}

.bird-entry {
    display: flex;

    .bird-details {
        display: flex;
    }

    .scientific {
        padding-top:5px;
        padding-left: 20px;
    }
}