@import "./Variables.scss";

.family {
  margin-bottom: 20px;
}
.family-name {
  padding: 20px 30px;
  line-height: 1;
  background-color: $secondary-color;
}

.family-name::first-letter {
  text-transform: uppercase;
}

.bird-entry {
  padding-bottom: 3px;

  .link-container {
    background-color: $secondary-color;
    padding: 15px;
    margin-bottom: -3px;
  }
}

.bird-entry a {
  display: grid;
  grid-template-columns: 20px 1fr;

  svg {
    margin-top: 8px;
  }

  .bird-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: inherit;
    color: inherit;
    padding: 0;

    h3 {
      line-height: 1;
      flex: 1;
    }

    h4 {
      line-height: 1;
      text-align: right;
    }
  }

  .scientific {
    padding-top: 5px;
    padding-left: 20px;
  }
}

@media (min-width: 900px) {
  .family {
    margin-bottom: 40px;
  }

  .category-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .species-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }
}
