@import "./Variables";

.full-bird-listing {
  padding: 20px;

  .sighting-details {
    background-color: $primary-color;
    padding: 20px;
    width: max-width;
  }

  .bird-details {
    background-color: rgba(206, 249, 255, 0.534);
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 20px;
  }

  .photos {
    display: flex;
    gap: 10px;
  }

  .photos img {
    width: 200px;
   
  }
}
