@import "./Variables";


.header {
    border-bottom: solid 2px $secondary-color;
    color: $secondary-color;
    padding: 30px 20px;

    background-color: rgba(240, 255, 240, 0.5);
  }

  .logo-and-name {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .fledglingLogo {
    width: 20%;
  }
  
  .header h1 {
    width: min-content;
    margin: 0;
    margin-bottom: -21px;
    text-shadow: -4px 2px 4px $primary-color;
    font-size: 2.4rem;
    font-style: italic;
    color: $secondary-color;
    
  }
  .header a {
    text-decoration: none;
  }

  .headerIcons {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 10px;
  }

  .headerIcons a {
    color: inherit;
  }

  .userIcon {
    z-index: 10;
  }

  .menu  {
    position: absolute;
    right: 8px;
    top: 38px;
    max-width: 163px;
    overflow: hidden;
  }

  .menu.inactive {
    box-shadow: none;
    transition: box-shadow 700ms ease-out; // going out
  }

  .menu.active {
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.5);
    transition: box-shadow 100ms ease-out 500ms; // going in

  }

  .menu.inactive * {
    margin-top: -100px;
    transition: margin-top 1s ease-in-out;
  }

  .menu.active * {
    margin-top: 0;
    transition: margin-top 1s;
  }


  .userIcon:hover {
    cursor: pointer;
  }