@import "./Variables";


.header {
    border-bottom: solid 2px $secondary-color;
    color: $secondary-color;
    padding: 30px 20px;

    background-color: rgba(240, 255, 240, 0.5);
  }

  .logo-and-name {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .fledglingLogo {
    width: 20%;
  }
  
  .header h1 {
    width: min-content;
    margin: 0;
    margin-bottom: -21px;
    text-shadow: -4px 2px 4px $primary-color;
    font-size: 2.4rem;
    font-style: italic;
    color: $secondary-color;
    
  }
  .header a {
    text-decoration: none;
  }

  .headerIcons {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 10px;
  }

  .headerIcons a {
    color: inherit;
  }

  .userIcon:hover {
    cursor: pointer;
  }