@import "./Variables.scss";

.loginpage {
  margin: 0;
}

.body {
  width: 100%;
}

.login-options {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container {
  padding: 0 24px;

  .instagramIcon {
    margin-right: 10px;
  }
}

.instagram-button {
  color: $primary-color;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-color: $secondary-color;

  p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}
//tablet portrait up
@media (min-width: 600px) {
  .loginpage {
    box-sizing: border-box;
    background-image: url(./images/puffins.jpg);
    // Mustang Joe, Puffins, Shetland Islands, Scotland, https://www.flickr.com/photos/mustangjoe/41382992390/in/photolist-SzhoPR-WP84eS-2jGywbT-HXKjQQ-2c3yvuh-2hv6rUq-2hv82VF-W1Y9wf-Svtbum-25Mk7hE-R8q9TM-zJRPqo-29T66yG-TBgTkN-UGMTky-2byLLLa-29GperE-Kr7SvN-AUQprm-BVsK7a-26E8mXW-2hv7zpK-VU4EMn-2hv6H1c-25Mkryf-2hv7Q3N-AGQjHb-2hv7Ebt-2hv7V1U-263SDSN-PNiSoF-x37xcT-x7RePx-uQQ6TF-tTPekL-x6wogs-uynTPx-uyf3uq-tTPi73-tTPcYN-wapZz2-29kJAMw-x7humt-uyf9ES-uQmHTQ-uynDkH-x7QaGB-uyfaF7-uynSnV-x7hp4K
    background-position: right top, center bottom;
    background-repeat: no-repeat;
    background-size: 122%, 100%;
    min-height: 100vh;
    background-color: $primary-color;
  }

  .body {
    position: relative;
  }

  .login-options {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: auto;
  }
}
