@import "./Variables.scss";

.loginpage {
  margin: 0;

  .logo-and-name {
    justify-content: center;
  }
}

.body {
  width: 100%;
}

.description {
  color: $secondary-color;
  width: max-content;
  margin: 11vh auto 30px auto;

  p {
    width: max-content;
    font-size: 1.2em;
  }
  .bold {
    font-weight: 800;
    margin: auto;
  }

  .what-where-when-container {
    width: max-content;
    margin: auto;
  }

  .what-where-when {
    display: flex;
    align-items: center;

    svg {
      padding-right: 10px;
    }
  }
}

.login-options {
  width: max-content;
  margin: auto;
  border: 1px solid $secondary-color;
  border-radius: 10px;

  .login-options-title {
    color: $secondary-color;
    text-align: center;
    margin: 7px 0 10px;
    font-weight: 700;
  }
}

/* instagram login
.button-container {
  padding: 0 24px;
  width: 140px;

  .instagramIcon {
    margin-right: 10px;
  }
}

.instagram-button {
  color: $primary-color;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-color: $contrast-color;
 

  p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
} */

//tablet portrait up
@media (min-width: 600px) and (orientation: portrait) {
  .body {
    position: relative;
  }

  .description {
    padding: 20px 15px;
    width: 550px;
    margin: 11vw auto;

    p {
      font-size: 2.2em;
      margin-bottom: 10px;
    }

    .what-where-when svg {
      font-size: 2.2em;
      padding-right: 20px;
    }
  }

  .login-options {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: auto;
    width: 50%;
    padding: 10px;

   .login-options-title {
      font-size: 1.6em;
  }
  }

  .button-container {
    width: 300px;
  }

  .instagram-button {
    height: 80px;
    padding: 20px;

    svg {
      font-size: 4.6em;
    }
    p {
      font-size: 2.2em;
    }
  }
}

//landscape - to justify for different background image

@media (orientation: landscape) {
  .description {
    color: $primary-color;
  }
}

//tablet landscape up
@media (min-width: 600px) and (orientation: landscape) {
  .description {
    margin: 19vh auto 30px auto;
    color: $primary-color;
    background-color: rgba(0, 128, 128, 0.5);
    padding: 15px;
    border-radius: 10px;

    p {
      font-size: 1.6em;
    }
  }

  .login-options {
    background-color: rgba(244, 250, 244, 0.5);
  }
}
//large tablet landscape up
@media (min-width: 900px) and (orientation: landscape) {
  .body {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .description {
    margin: 15vh auto;

    p {
      font-size: 2em;
      color: $primary-color;
      margin-bottom: 10px;
    }

    svg {
      font-size: 2em;
      color: $primary-color;
    }
  }

  .login-options {
    min-width: 200px;
    margin-left: auto;
    background-color: rgba(244, 250, 244, 0.5);
    padding: 7px 10px;
    border-radius: 10px;
    width: 30%;

    .button-container {
      margin: auto;
    }
  }
}

//tablet landscape up
/* @media (min-width: 900px)  {
  .loginpage {
    box-sizing: border-box;
    //background-image: url(./images/farne-islands.jpg);
    // Robert Drummond, Farne Islands, Taken on July 23, 2015, https://www.flickr.com/photos/47229455@N04/19938787676/in/photolist-wnVuVj-w8JJwX-w8JxUK-w8JKog-wnVtFW-w8JDVT-i45spg-wqeZtx-wqeHPM-wqGRUr-wqeGSr-w8BDnS-wnVqxG-wqGutv-w8C3pf-wqex7V-vtd763-w8Coy1-vtnbUH-w8CfaY-vte4hW-vtnD3p-vtdYkb-wpyFxN-vtdykC-w8JAMP-261GVoz-w8KaHD-vtea7S-vte9E9-wqGAut-wqGuKH-wqGaak-w8Ktv2-wnVUzo-wnVuab-wqeD4e-vtmRtt-vtmQwt-wnUUqY-w8CKLd-wnVEXd-w8Kd76-w8Jyya-w8Jtok-wpyZP7-w8BUGE-vtdVzb-w8K9Ue-w8K7dn
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 202%, 100%;
    min-height: 100vh;
    //background-color: $primary-color;
  }

  .login-options {
    margin-left: auto;
    background: #f4faf4;
    padding: 50px 10px;
    height: 40px;
  }
}
*/

//desktop  up
@media (min-width: 1200px) {
  .loginpage {
    background-size: 122%, 100%;
  }
}

// position: absolute;
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);
