@import "./Variables";

.sightingForm {
  h1 {
    color: $primary-color;
    padding: 20px;
    background-color: $secondary-color;
  }
}
.sightingForm form {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: $secondary-color;
  color: $primary-color;
}

.sightingForm ul {
  margin: 0;
  padding: 0;
  width: 100%;

  .instagram-link {
    color: $primary-color;
    text-align: center;
    cursor: pointer;
  }
}

.sightingForm li {
  padding: 10px 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $primary-color;
}

.sightingForm input,
.sightingForm .bird-select {
  background-color: $primary-color;
  width: 160px;
  color: $secondary-color;
}

.sightingForm input::placeholder {
  font-style: italic;
  color: $secondary-color;
  opacity: 0.7;
}

.sightingForm ::-webkit-datetime-edit,
.sightingForm ::-webkit-calendar-picker-indicator {
  color: $secondary-color;
  opacity: 0.7;
}

.location-select-section {
  padding: 20px;
  background-color: $secondary-color;
}

.location-select {
  margin-bottom: 10px;
  background-color: $contrast-color;
}

.pin-instructions {
  width: 280px;
  margin: auto;
  color: $primary-color;
}

.mapboxgl-map {
  margin: auto;
}

.sightingForm .notes {
  display: block;
}
.sightingForm .notes label {
  width: 100%;
}
.sightingForm textarea {
  background-color: $primary-color;
  width: 97%;
  margin-top: 5px;
}

.images-container {
  margin: 10px 20px;
  h3 {
    margin-bottom: 10px;
  }
}
.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .image-div {
    padding-bottom: 10px;
    width: calc((100vw - 40px - 30px) / 3);
  }

  input {
    display: none;
  }

  label {
    position: relative;
    z-index: 10;
  }

  img {
    width: calc((100vw - 40px - 30px) / 3);
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
  }

  .color-outline {
    z-index: 0;
    position: absolute;
    border: solid 6px $contrast-color;
    width: calc(((100vw - 40px - 30px) / 3) - 12px);
    height: calc(((100vw - 40px - 30px) / 3) - 12px);
  }



  input:checked ~ label img {
    margin: 6px;
    width: calc(((100vw - 40px - 30px) / 3) - 12px);
    height: calc(((100vw - 40px - 30px) / 3) - 12px);
  }


}

.sightingForm button {
  display: block;
  width: 110px;
  height: 35px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  background-color: $contrast-color;
  color: $primary-color;
  box-shadow: 0px 2px 5px 1px rgba(0, 128, 128, 0.65);
}

.option-container {
  text-align: center;
  padding: 20px 0;

  div {
    padding-bottom: 10px;
  }
}

.highlight {
  border: $contrast-color solid 4px;
}

.required-message {
  color: $primary-color;
  text-align: center;
  font-weight: 800;

  p {
    font-size: 1.2rem;
  }
}


 //tablets
 @media (min-width: 481px){
  .sightingForm input,
  .sightingForm .bird-select {
    width: 300px;
  }
 }