@import "./Variables";

.sightingForm form {
  width: 100%;
  margin-top: 20px;
  background-color: $secondary-color;
}

.sightingForm ul {
  margin: 0;
  padding: 0;
}

.sightingForm li {
  margin-bottom: 20px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: $primary-color;
}

.sightingForm input, .sightingForm .bird-select {
  background-color: $primary-color;
  width: 160px;
}

.sightingForm input::placeholder {
  font-style: italic;
  color: $secondary-color;
  opacity: 0.7;
}

.sightingForm ::-webkit-datetime-edit,
.sightingForm ::-webkit-calendar-picker-indicator {
  color: $secondary-color;
  opacity: 0.7;
}

.location-select-section {
  padding: 10px;
  background-color: $secondary-color;
}

.location-select {
  margin-bottom:10px;
}

.pin-instructions {
  width: 280px;
  margin: auto;
  color: $primary-color;
}

.mapboxgl-map {
  margin: auto;
}

.sightingForm .notes {
  display: block;
}
.sightingForm .notes label {
  width: 100%;
}
.sightingForm textarea {
  background-color: $primary-color;
  width: 97%;
  margin-top: 5px;
}

.images {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .image-div {
    padding-bottom: 10px;
  }

  input {
    display: none;
  }

  img {
    width: 100px;
    height: 100px;
  }

  label {
    width: 90px;
    height: 90px;

  }

  input:checked ~ label {
    display: block;
    border: solid 5px $contrast-color;
  }

  input:checked ~ label > img {
    height: 90px;
    width: 90px;
  }
}

.sightingForm button {
  display: block;
  width: 110px;
  height: 35px;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  background-color: $contrast-color;
  color: $primary-color;
  box-shadow: 0px 2px 5px 1px rgba(0, 128, 128, 0.65);
}
