@import "./Variables";

.recentSightingsLog a {
  text-decoration: none;
}

.sightingEntry {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: space-between;
}

.entryDetails {
  min-height: 103px;
  position: relative;
}

.sightingEntry h2 {
  margin: 0;
  font-size: 1.4rem;
  padding-right: 10px;
  font-weight: 300;
}

.sightingEntry h3 {
  margin: 0;
  font-size: 1rem;
}

.sightingEntry h4 {
  margin: 4px 0 0 0;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  width: max-content;
}

.colorblock {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image:
  linear-gradient(
    to right, 
    $secondary-color, rgba(100, 100, 100, 0)
  );
}

.entryPhoto {
  width: 100px;
}
