@import "./Variables";

.sightingForm {
  h1 {
    color: $primary-color;
    padding: 20px;
    background-color: $secondary-color;
  }

  h3 {
    margin-bottom: 5px;
  }
}
.sightingForm form {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: $secondary-color;
  color: $primary-color;
}

.sightingForm ul {
  margin: 0;
  padding: 0;
  width: 100%;

  .instagram-link {
    color: $primary-color;
    text-align: center;
    cursor: pointer;
  }
}

.sightingForm li {
  padding: 10px 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $primary-color;
}

.sightingForm input,
.sightingForm .bird-select {
  background-color: $primary-color;
  width: 160px;
  color: $secondary-color;
  border-color: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.sightingForm #date {
  height: 34px;
}

.sightingForm input::placeholder {
  font-style: italic;
  color: $secondary-color;
  opacity: 0.7;
}

.sightingForm ::-webkit-datetime-edit,
.sightingForm ::-webkit-calendar-picker-indicator {
  color: $secondary-color;
  opacity: 0.7;
}

.sightingForm ::-webkit-datetime-edit-fields-wrapper {
  padding: 0 12px;
}

.location-select-section {
  padding: 20px;
  background-color: $secondary-color;
}

.location-select {
  margin-bottom: 10px;
  background-color: $contrast-color;
}

.pin-instructions {
  width: 280px;
  margin: auto;
  color: $primary-color;
}

.mapboxgl-map {
  margin: auto;
}

.sightingForm .notes {
  display: block;
}
.sightingForm .notes label {
  width: 100%;
}
.sightingForm textarea {
  background-color: $primary-color;
  width: 100%;
  margin-top: 5px;
}

.images-container {
  margin: 10px 20px;
  h3 {
    margin-bottom: 10px;
  }
}
.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .image-div {
    width: calc((100vw - 40px - 30px) / 3);
  }

  input {
    display: none;
  }

  label {
    position: relative;
    z-index: 10;
  }

  img {
    width: calc((100vw - 40px - 30px) / 3);
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: block;
  }

  .color-outline {
    z-index: 0;
    position: absolute;
    border: solid 6px rgba(0, 0, 0, 0);
    width: calc(((100vw - 40px - 30px) / 3) - 12px);
    height: calc(((100vw - 40px - 30px) / 3) - 12px);
  }

  input:checked ~ .color-outline {
    border: solid 6px $contrast-color;
  }

  input:checked ~ label img {
    margin: 6px;
    width: calc(((100vw - 40px - 30px) / 3) - 12px);
    height: calc(((100vw - 40px - 30px) / 3) - 12px);
  }
}

.sightingForm button {
  display: block;
  width: 110px;
  height: 35px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  background-color: $contrast-color;
  color: $primary-color;
  box-shadow: 0px 2px 5px 1px rgba(0, 128, 128, 0.65);
}

.option-container {
  text-align: center;
  padding: 20px 0;

  p {
  cursor: pointer;}

  div {
    padding-bottom: 10px;
  }
}

.highlight {
  border: $contrast-color solid 4px;
}

.required-message {
  color: $primary-color;
  text-align: center;
  font-weight: 800;

  p {
    font-size: 1.2rem;
  }
}

//phones landscape
@media (min-width: 481px) {
  .sightingForm input,
  .sightingForm .bird-select {
    width: 300px;
  }

  .pin-instructions {
    width: auto;
    text-align: center;
    margin-top: 5px;
  }
}

//tablets portrait
@media (min-width: 600px) {
  li.species,
  li.date {
    margin: 10px auto;
    width: 450px;
  }
}

//tablets landscape up
@media (min-width: 900px) {

  .sightingForm {
    margin: 0;

    form {
      padding: 30px 50px 20px;
      width: auto;
    }

    h1 {
      padding: 20px 50px;
    }
  }
  .images {
    .image-div {
      width: calc(((100vw - 200px - 40px - 30px) / 4));
    }

    img {
      width: calc(((100vw - 200px - 40px - 30px) / 4));
      margin-bottom: 20px;
    }

    .color-outline {
      width: calc(((100vw - 200px - 40px - 30px) / 4) - 12px);
      height: calc(((100vw - 200px - 40px - 30px) / 4) - 12px);
    }

    input:checked ~ label img {
      width: calc(((100vw - 200px - 40px - 30px) / 4) - 12px);
      height: calc(((100vw - 200px - 40px - 30px) / 4) - 12px);
    }
  }

  li.species,
  li.date {
    margin: 0;
  }

  li.date {
    height: 58px;
  }

  .sightingForm li {
    padding: 10px 0;
    margin: 0;

  }

  .location-select-section {
    padding: 0;
  }

  .images-container {
    margin: 0;
}


}
